body {
    background-image: url(kuva.jfif)
}

p {
    color: black;
    outline-color: goldenrod;
    text-shadow: -1px -1px 0 goldenrod, 1px -1px 0 goldenrod, -1px 1px 0 goldenrod, 1px 1px 0 goldenrod;
    font-size: 30px;
    text-align: center;
}

h1 {
    color: white;
    outline-color: goldenrod;
    text-shadow: -3px -3px 0 goldenrod, 3px -3px 0 goldenrod, -3px 3px 0 goldenrod, 3px 3px 0 goldenrod;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 50px;
}
